[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 8.0

[submodule "mro"]
	path = addons-extra/mro	
	url = https://github.com/codup/odoo-eam.git
	branch = 8.0

[submodule "openerp-usa"]  
	path  = addons-extra/openerp-usa
	url = git@bitbucket.org:npgteam/openerp-usa.git
	branch = 8.0

[submodule "project"]
	path = addons-extra/project
	url = https://github.com/OCA/project.git

[submodule "web-gantt"]
	path = addons-extra/web-gantt
	url = https://github.com/stephane-/odoo_addons.git
	branch = 8.0
	
[submodule "account-closing"]
	path = addons-extra/account-closing
	url = https://github.com/OCA/account-closing.git
	branch = 8.0

[submodule "account-financial-tools"]
	path = addons-extra/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 8.0

[submodule "c2c-rd-addons"]
	path = addons-extra/c2c-rd-addons
	url = https://github.com/camptocamp/c2c-rd-addons.git

[submodule "hr-timesheet"]
	path = addons-extra/hr-timesheet
	url = https://github.com/OCA/hr-timesheet.git
	branch = 8.0

[submodule "ingadhoc"]
	path = addons-extra/ingadhoc
	url = https://github.com/ingadhoc/odoo-addons.git
	branch = 8.0

[submodule "margin-analysis"]
	path = addons-extra/margin-analysis
	url = https://github.com/OCA/margin-analysis.git
	branch = 8.0

[submodule "npg-mrp"]
	path = addons-extra/npg-mrp
	url = https://bitbucket.org/npgteam/npg-mrp.git
	branch =  master

[submodule "oca-manufacture"]
	path = addons-extra/oca-manufacture
	url = https://github.com/OCA/manufacture.git
	branch = 8.0

[submodule "odoo-8.0-dev"]
	path = addons-extra/odoo-8.0-dev
	url = https://github.com/ursainfosystems/odoo-8.0-dev.git
	branch = master

[submodule "odoo-hr_timesheet_timer"]
	path = addons-extra/odoo-hr_timesheet_timer
	url = https://github.com/vertelab/odoo-hr_timesheet_timer.git
	branch = 8.0

[submodule "odoomrp-wip"]
	path = addons-extra/odoomrp-wip
	url = https://github.com/odoomrp/odoomrp-wip.git
	branch = 8.0

[submodule "server-tools"]
	path = addons-extra/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 8.0

[submodule "purchase-workflow"]
	path =  addons-extra/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 8.0
[submodule "addons-vauxoo"]
        path = addons-extra/addons-vauxoo
        url = https://github.com/Vauxoo/addons-vauxoo.git
        branch = 8.0

[submodule "sale-workflow"]
	path =  addons-extra/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 8.0

[submodule "stock-logistics-warehouse"]
	path = addons-extra/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 8.0
